@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quiz Major</h1>
    <p>Try our quiz to see which major we recomened for you so you can decide easier</p>
    <input type="button" value="Take the quiz">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
